body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  margin-left: 5px;
}

.queues {
  float: left;
  display: inline;
}

.center-queues {
  margin: auto;
  width: 40%;
}

.button1{
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
 }

.button2{
  display: flex;
  float: left;
}

.vertical{
  float: left;
}
